@use '../utils' as *;
@use '../globals' as *;


.header{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1140px){
        .title{
            font-size: rem(15);
        }
    }
    
    @media screen and (max-width: 750px){
        flex-wrap: wrap;
        justify-content: normal;
        .title{
            width: 100%;
            font-size: rem(10);
            
        }
    }
}


.info{
    &__top{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        
        @media screen and (max-width: 1140px){
            grid-template-columns: repeat(2,1fr);
        }

        @media screen and (max-width: 750px){
            grid-template-columns: auto;
        }

       .infobox{
        height: rem(280);
        width: 85%;
        background-color: var(--card-bg);
        border-radius: rem(5);
        margin-top: rem(50);
            &__platfrom{
                margin-top: rem(20);
                display: flex;
                align-items: center;
                justify-content: center;
                height: rem(30);

                img{
                    width: 10%;
                }

                &__username{
                    margin-left: rem(10);
                }
            }

            &__followers{
                margin: rem(30) auto;
                text-align: center;
                &__count--big{
                    font-size: rem(60);
                }

                &__label{
                    font-size: rem(30);
                    letter-spacing: rem(5);
                }
            }

            &__change{
                display: flex;
                align-items: center;
                justify-content: center;
                
                .number__change{
                    margin-left: rem(5);
                }
            }
       }

       .infobox:hover{
        background-color: var(--card-hover);
       }
       
       &--facebook{
        border-top: var(--facebook) rem(5) solid;
       }

       &--twitter{
        border-top: var(--twitter) rem(5) solid;
       }

       &--instagram{
        border-top: linear-gradient(225deg,var(--instagram-end),var(--instagram-middle) 50.91%,var(--instagram-start) 100%) rem(5) solid;
       }

       &--youtube{
        border-top: var(--youtube) rem(5) solid;
       }
    }
}

.info__today{
    &__overview{
        margin:rem(30) 0;
    }
    .infobox__today{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:rem(20);
        @media screen and (max-width: 1140px){
            grid-template-columns: repeat(2,1fr);
        }

        @media screen and (max-width: 750px){
            grid-template-columns: auto;
        }
        &__grid{
            display: grid;
            height: rem(150);
            background-color: var(--card-bg);
            border-radius: rem(5);
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            gap:rem(5);
            padding: rem(30);
            justify-items: start;

            &__sub{
                font-weight: 600;
                font-size: rem(18);
            }
            
            &__img{
                justify-self: end;
            }

            &__count--small{
                font-size: rem(30);
                align-self: end;
            }

            &__change{
                align-self: end;
                justify-self: end;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .number__change{
                    margin-left: rem(5);
                }
            }
        }
        &__grid:hover{
            background-color: var(--card-hover);
        }
    }
}